table.dataTable.no-footer { width: 98% !important; border: solid 2px #F8F8F8; -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.25); }
#myTable_wrapper { margin: 40px 0; }
#myTable_info,
#myTable_filter,
#myTable_paginate,
.dt-button-collection a:nth-child(1) { display: none; }
#myTable thead tr { background-color: #F8F8F8; }
#myTable thead tr th { color: #909090; }
#myTable thead tr th:nth-child(3) p { font-size: 10px; padding: 0; margin-bottom: 0; }
#myTable thead tr th:last-child { background: none; }

/*#myTable tbody tr td:nth-child(2), #myTable tbody tr td:nth-child(3) { text-align: center; }*/
#myTable tbody tr td:nth-child(4) { color: #42ADE9; font-weight: bold; font-size: 14px; }
#myTable tbody tr td i { color: #909090; }
.dt-buttons { float: right; text-align: right; position: relative; top: -20px; }
.csvButton,
.email { background-color: #FC561C; padding: 5px 30px; border-radius: 5px; }
.csvButton span,
.email span { color: #fff; font-weight: bold; font-size: 13px; text-transform: uppercase; position: relative; }
.csvButton span:before { font-family: FontAwesome; content: "\f0f6"; display: block; position: absolute; top: 0; left: -20px; font-weight: normal; }
.email span:before { font-family: FontAwesome; content: "\f003"; display: block; position: absolute; top: 0; left: -20px; font-weight: normal; }
.csvButton span:hover,
.email span:hover { text-decoration: none; }
.view span { color: #7E7E82; font-weight: bold; padding: 0 15px; }
.gridIcon span i,
.listIcon span i { color: #45AAEF; font-size: 20px; }
.dt-button.buttons-collection.buttons-colvis { position: absolute; right: 30px; top: 50px; z-index: 3; }
.dt-button.buttons-collection.buttons-colvis span i { color: #909090; font-size: 40px; }
.dt-button-collection {border: solid 1px red;width: 250px;border: solid 2px #000;/* -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75); */-moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);/* box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.95); */position: absolute;right: 10px !important;left: unset !important;top: 117px !important;background: #fff;z-index: 4;}
.dt-button-collection a {display: block;color: #212529;padding: 10px;position: relative;}
.dt-button-collection a span {margin-left: 40px;}
.dt-button-collection a.buttons-columnVisibility.active:before {font-family: FontAwesome;content: "\f0c8";font-size: 32px;position: absolute;top: 0;color: #1c417d;}
.dt-button-collection a.buttons-columnVisibility:before {font-family: FontAwesome;content: "\f0c8";font-size: 32px;position: absolute;top: 0;color: #47ABED;}
.dt-button-collection a.buttons-columnVisibility span:before {font-family: FontAwesome;content:'\f00c';position: absolute;left: 15px;font-size: 17px;color: #fff;}
.dt-button-collection a.buttons-columnVisibility.active span:before { content: ' ';  }
.dt-button-collection::before {font-family: FontAwesome;content: "\f0d8";font-size: 30px;position:absolute;right: 26px;top: -30px;z-index: -1;}